{% block content %}
    <div class="row">
        <div class="col-12 p-2">
            <p>Caro(a) responsável pelo estudante {{ nome }},</p>
            <p>
              Obrigada por fazer a atualização de seu cadastro na Secretaria Municipal de Educação. O nome completo e/ou CPF da(o) responsável informados por você no formulário são diferentes do que consta no Sistema Escola Online (EOL).
            </p>
            <p>
              Por favor, entre em contato com a escola na qual a criança está matriculada para atualizar seus dados na secretaria da mesma. Caso não saiba o telefone, consulte a
              <a href="https://educacao.sme.prefeitura.sp.gov.br/escolaaberta/">plataforma Escola Aberta</a>.
            </p>


            <p>Atenciosamente, </p>
            <p>Secretaria Municipal de Educação<br>
              Prefeitura de São Paulo</p>
            <br/>
            <br/>
        </div>
    </div>
{% endblock %}
