{% extends 'admin/change_list.html' %}
{% block object-tools %}
<style>
  .alinhamento{
    float: right;
    margin-top: -4px;
  }
  .button-processar {
    border-radius: 15px;
    padding: 5px 12px;
    background: #79aec8 !important;
    font-weight: 400;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .button-processar:focus, .button-processar:hover{
    background-color: #417690 !important;
    color: #fff !important;
  }
</style>
    <div class="alinhamento">
        <form action="processar_planilha/" method="POST" >
            {% csrf_token %}
                <button type="submit" class="button-processar">Processar última planilha</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}
